---
import Layout from "./Layout.astro";

import {slugify, formatDate} from "../js/utils"
const {frontmatter} = Astro.props

const {title, pubDate, description, author, image, tags, draft} = frontmatter
const {url, alt} = image;
---

<Layout title={title} description={description} sideBarActiveItemID="article">
    <div class="post-shell">
        <!--breadcrumb here-->
        <div class="text-sm breadcrumbs">
            <ul>
              <li><a href="/astro-blog/blog">Blog</a></li> 
              <li><a>{title}</a></li> 
            </ul>
          </div>
        <!--Hero for the title part -->
        <div class="hero h-1/2 bg-neutral shadow-xl mb-10 ring-1 ring-white ring-inset">
            <div class="hero-content flex-col lg:flex-row">
                <img src={url} class="object-scale-down p-4 md:w-1/2 rounded-lg" />
                <div class="md:w-1/2">
                    <h1 class="text-5xl font-bold">{title}</h1>
                    <p class="py-6">by <a href="/astro-blog/about/">{slugify(author)}</a></p>
                    <p class="py-6">{formatDate(pubDate)}</a></p>
                </div>
            </div>
        </div>
        <!--content here! -->
        <div class="prose post-content max-w-none">
            <div class="content space-y-4">
                <slot></slot>
            </div>
        </div>

        <style>
            h1{
                font-size: 3rem;
            }
        </style>
    </div>
    
</Layout>

